.main__title{
  display: flex;
  align-items: center;
  height: 86px;
  margin-top: 9px;
}
.main__wrapper{
  display: grid;
  grid-template-columns: repeat(4, 306px);
  grid-template-rows: repeat(3, 512px);
  column-gap: 24px;
  row-gap: 32px;
  border-top: solid 1px #A8A8A8;
  padding-top: 24px;
  position: relative;

  &-btn-chat{
    width: 51px;
    height:51px;
    background-image: url("../images/chat_icon.png");
    background-color: #10BBD5;
    border-radius: 50%;
    background-position: center;
    border: none;
    left: 81.3%;
    top: 74%;
    position: fixed;
  }
}
  .main__wrapper-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 306px;
    height: 512px;
    background-color: #FFFFFF;
    border: solid #A8A8A8;
  }
    .main__wrapper-content{
      display: flex;
      flex-direction: column;
      width: 242px;
      height: 448px;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    .main__card-hit{
      display: flex;
      width: 36px;
      height: 32px;
      position: absolute;
      color: #F8FDFE;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 1.5;
      border-radius: 4px;
      background: #4200FF;

      &--1{
       top: 58px;
       left: 35px;
      }
      &--3{
        top: 58px;
        left: 53.5%;
      }
      &--5{
        left: 35px;
        top: 37%;
      }
      &--7{
        top: 37%;
        left: 53.5%;
      }
    }
    .main__card-new{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 47px;
      height: 32px;
      position: absolute;
      color: #F8FDFE;
      font-size: 16px;
      line-height: 1.5;
      background-color: #AF39E7;
      border-radius: 4px;

      &--2{
        top: 3.58%;
        left: 28.3%;
      }
      &--6{
        top: 37.1%;
        left: 28.3%;
      }
      &--11{
        top: 70.6%;
        left: 53.5%;
      }
    }
  .main__card-off{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 32px;
      position: absolute;
      color: #F8FDFE;
      font-size: 16px;
      line-height: 1.5;
      background-color: #EA33C0;
      border-radius: 4px;

    &--3{
      left: 56.5%;
      top: 3.58%;
    }
    &--5{
      top: 37.1%;
      left: 5.7%;
    }
    &--6{
      top: 37.1%;
      left: 32.2%;
    }
    &--7{
      top: 37.1%;
      left: 56.6%;
    }
    &--10{
      top: 70.6%;
      left: 28.3%;
    }
    &--11{
      top: 70.6%;
      left: 57.4%;
    }
  }
     .main__card-link{
       display: block;
       width: 178px;

      &-img{
        width: 178px;
        height: 280px;
      }
    }
     .main__card-author{
        overflow: hidden;
        color: var(--gray, #8E8E8E);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }
      .main__card-price{
        color: #E90000;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        margin-top: 8px;

        &-span{
          color: #8E8E8E;
          text-decoration: line-through;
          margin-left: 24px;
        }
      }


