.footer{
  display: block;
  height: 88px;
  background-color: #4C394E;
  margin-top: 120px;

   .container--footer{
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;

     .footer__content{
       font-size: 16px;
       line-height: 24px;
       color: #F8FDFE;
     }
   }
}