.header {
  display: block;
  z-index: 2;
  height: 104px;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  background: linear-gradient(#10BBD5 72px, #FFF 32px);
}
  .header__menu {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;

    &-link {
      display: flex;
      color: #F8FDFE;
      font-weight: 700;
      font-size: 24px;
      line-height: normal;
    }

  }
     .header__menu-basket{
      display: flex;
      align-items: center;
      column-gap: 8px;

       .header__menu-price{
        color: #F8FDFE;
        font-size: 16px;
        line-height: 24px;
      }
      .header__menu-btn{
        background-color:#10BBD5;
        background-image: url("../images/cart_icon.png");
        width: 40px;
        height: 40px;
        border: none;
        color: #0000;
        font-size: 12px;
        line-height: 10px;
      }
    }
  .header__nav{
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;

    &-category{
       color: #000;
       font-size: 16px;
       line-height: 24px;
     }
  }
    .header__nav-list{
       display: flex;
       align-items: center;
       gap: 40px;

      .header__nav-link{
         color: #000;
         font-size: 16px;
         line-height: 24px;
       }
     }



