body{
  background-color: #EEEEEF;
  font-family: $adv1-font;
}
  .container {
    max-width: $adv1-width;
    width: 100%;
    margin: 0 auto;
  }
    ul{
      list-style: none;
    }
    a{
      text-decoration: none;
    }
    .main__cards-btn{
      display: block;
      width: 242px;
      height: 40px;
      font-size: 16px;
      line-height: 24px;
      color: #F8FDFE;
      border-radius: 4px;
      border: none;
      background-color: $adv1-color1;
    }
    .main__cards-btn--green{
      background-color: $adv1-color2;
    }
    h1{
      color: #1F1F1F;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.25;
    }
    h2{
      display: block;
      overflow: hidden;
      width: 242px;
      height: 31px;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 700;
      color: #1F1F1F;
      border-bottom: solid #8E8E8E;
      margin: 0;
      padding: 0;
    }
    h3, p{
      margin: 0;
      padding: 0;
    }

